[Unit]
Description=BigBlueButton recording and playback process worker
ConditionPathExistsGlob=/var/bigbluebutton/recording/status/sanity/*.done

[Service]
Type=simple
ExecStart=/usr/local/bigbluebutton/core/scripts/rap-process-worker.multiprocess.rb -p "[0-4]8$"
WorkingDirectory=/usr/local/bigbluebutton/core/scripts
User=bigbluebutton
Slice=bbb_record_core.slice

[Install]
WantedBy=bbb-record-core.target

